.scoreContainer{
    background-color: rgba(27, 31, 34, 0.85);
    color: #ffffff;
    height: 90vh;
    width: 90%;
}

.scoreContainer h1 {
    font-weight: 600;
    line-height: 1.5;
    margin: 0 5% 1rem 5%;
    margin-top: 10%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 3px;
}
.versusScore{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.versusScore h1{
    border-bottom: none;
}

/* overflow-y: scroll; */